<a [routerLink]="[recipe.id]" routerLinkActive="active" class="list-group-item mb-3" style="cursor: pointer;">
    <div class="row">
        <div class="col-md-7">
            <h6>{{ recipe ? recipe.name : '' }}</h6>
            <p>{{ recipe ? recipe.description : '' }}</p>
        </div>
        <div class="col-md-5 justify-content-end row">
            <img src="{{ recipe ? recipe.imagePath : '' }}" alt="{{ recipe ? recipe.name : '' }}" class="img-responsive" style="max-height: 50px;">
        </div>
    </div>
</a>