<div class="row">
    <div class="col-md-6 ml-auto mr-auto">
        <form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
            <h1 class="text-capitalize">{{ mode }}</h1>
            <div class="form-group">
                <label for="username">Username</label>
                <input ngModel name="username" required type="text" id="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input ngModel name="password" required minlength="6" type="password" id="password" class="form-control">
            </div>
            <div>
                <button type="submit" [disabled]="!form.valid" class="btn btn-primary mr-3 text-capitalize">
                    {{ mode }}
                </button>
                <button type="button" (click)="switchMode()" class="btn btn-primary">
                    Switch to {{ mode === 'login' ? 'Register' : 'Login' }}
                </button>
            </div>
        </form>
    </div>
</div>