.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.alert-box {
    position: fixed;
    top: 30vh;
    left: 20vw;
    width: 60vw;
    padding: 1rem;
    z-index: 101;
    background-color: white;
    box-shadow: 0 px 8px rgba(0, 0, 0, 0.25);
}

.alert-box-actions {
    text-align: right;
}